section.feedback#feedback
            .container
              .title
                h2.title__elem Связаться со мной
              form.form
                .form__wrapper
                  .form__row
                    label(data-text="Введите ваше имя").form__elem
                      .form__elem-container.form__elem-container--user
                        input(type="text" placeholder="Ковальчук Дмитрий").form__elem-input
                    label(data-text="Введите ваш email").form__elem
                      .form__elem-container.form__elem-container--envelope  
                        input(type="text" placeholder="loftschool@study.com").form__elem-input
                  .form__row.form__row--textarea
                    label(data-text="Сообщение к письму").form__elem
                      .form__elem-container.form__elem-container--message
                        textarea(type="textarea" placeholder="Требуется ваша помощь в создании сайта.\n Интересуют сроки и цена вопроса").form__elem-input.form__elem-input--textarea
                  .form__row
                    label.form__elem
                      button(type="submit").form__elem-button Отправить