header.header#main
                .header__logo
                  .logo
                    h2.logo__title АЗ
                .header__menu
                  nav.menu
                    ul.menu__list
                       - var items = [{ title: 'Главная', url: '#main' }, { title: 'Обо мне', url: '#about'}, { title: 'Навыки', url: '#skills'}, { title: 'Работы', url: '#works'}, { title: 'Отзывы', url: '#reviews'}, { title: 'Связаться', url: '#feedback'}];
                       each item in items
                        li.menu__item
                          a(href=item.url).menu__link #{item.title}
                .header__social
                  .social
                    ul.social__list
                      - var socials = ['insta', 'vk', 'github'];
                      each social in socials   
                        li.social__item 
                          a(href="#").social__link  
                            +icon(social, 'social__icons')  
                #mobile-nav.mobile-nav
                  - for (var i=0; i<3; i++)                
                    .mobile-nav__line                                     