header.header
                .header__logo
                  .logo
                    h2.logo__title АЗ
                .header__menu
                  nav.menu
                    ul.menu__list
                       - var items = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
                       each item in items
                        li.menu__item
                          a(href="#").menu__link #{item}
                .header__social
                  .social
                    ul.social__list
                      - var socials = ['insta', 'vk', 'github'];
                      each social in socials   
                        li.social__item 
                          a(href="#").social__link  
                            +icon(social, 'social__icons')