section.useful#skills
            .container
              .useful__title
                .title
                  h3.title-elem Чем я могу быть #[span.span-block]полезен вам
                .useful__description Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
              .skills
                .skills__content                    
                  .svg__lineargradient
                    svg
                      defs
                        - var begin="#ad00ed", end="#5500f2";
                        linearGradient(
                          id = "gradient"
                          x1="0%" y1="0%" x2="0%" y2="100%"
                        )
                          stop(offset="0%" stop-color=`${begin}`)
                          stop(offset="100%" stop-color=`${end}`)
                  #skills-component