include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="shortcut icon" href="./favicon.ico" type="image/x-icon")
    title Portfolio | main page
  body
    .wrapper
      main.maincontent
        .wrappersections.wrappersections--home
          include components/parallax 
        
          section.fullscreen-section.hero
            include components/hero-container                              

          include components/about
          include components/triangles              

        .wrappersections.wrappersections--two
          include components/useful  
          include components/skills      
            
          section.work#works
            .container
              .work__title
                .title
                  h2.title-elem Мои работы
              #slider-component                   
          
        .wrappersections.wrappersections--end 
          include components/budda-parallax

          .triangles.triangles--two
            svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangle__item
              polygon(
                points="0,0 1000,100 1000,0"
              )    
            svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangle__item 
              polygon(
                points="0,0 0,100 1000,0"
              )
          
          include components/review 
          
          section.feedback-section
            .container
              #form-container
              include components/feedback-form
        include components/footer

      nav#navigation_menu--mobile
             include ./templates/entry.pug